.body {
  font-family: $primary-font;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: $primary-bg-color;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
body.modal-open {
  overflow: hidden;
}
body.menu-open {
  overflow: hidden;
}
body.menu-open ~ .menu-container {
  overflow-y: scroll;
}
