.contacts {
  @extend %list;
  margin-top: auto;
  margin-bottom: 64px;

  @media screen and(min-width: 768px) {
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  @media screen and(min-width: 1200px) {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.contacts__item:not(:first-child) {
  @media screen and(min-width: 1200px) {
    margin-right: 50px;
  }
}
.contacts__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  text-decoration: none;

  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 1.17;
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  &--phone {
    font-size: 9vw;
    line-height: 1.18;
    color: $accent-color;
    @media screen and(min-width: 358px) {
      font-size: 34px;
    }
    @media screen and(min-width: 768px) {
      color: $primary-text-color;
    }
  }

  transition: color $transition-time $time-function;
  @media screen and(min-width: 1200px) {
    &:focus,
    &:hover {
      color: $accent-color;
    }
  }
}
.contacts__icon {
  display: none;
  @media screen and(min-width: 768px) {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}
