.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg-color;

  @media screen and(max-width: 1199px) {
    text-align: center;
  }
}
.footer__join {
  @media screen and(max-width: 767px) {
    margin-top: 60px;
  }
}
.footer__subscribe {
  @media screen and(max-width: 1199px) {
    margin-top: 60px;
  }
}
.footer__title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: $dark-bg-text-color;
  text-transform: uppercase;
}
