.subscribe-form {
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: center;
  }
  @media screen and(max-width: 1199px) {
    display: block;
  }
}
.subscribe-form__field {
  @media screen and(max-width: 1199px) {
    display: block;
    margin: 0 auto 20px auto;
  }
}
.subscribe-form__input {
  padding: 15px 16px;
  color: $dark-bg-text-color;
  background-color: $footer-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-size: 16;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and(min-width: 1200px) {
    width: 360px;
    margin-right: 12px;
  }
  @media screen and(max-width: 1199px) {
    width: 450px;
  }
  @media screen and(max-width: 479px) {
    width: calc(100% - 30px);
  }
}
