.subscribe-form {
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.subscribe-form__field {
  display: block;
  margin: 0 auto 20px auto;
  @media screen and(min-width: 1200px) {
    display: inline;
    margin: 0 12px 0 0;
  }
}
.subscribe-form__input {
  width: 100%;
  padding: 15px 16px;
  color: $dark-bg-text-color;
  background-color: $footer-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    font-size: 16;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and(min-width: 480px) {
    width: 450px;
  }
  @media screen and(min-width: 1200px) {
    width: 360px;
  }
}
