.form__field {
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: 10px;
  }
}
.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover,
.form__input:-webkit-autofill:focus,
.form__input:-webkit-autofill:active {
  transition: background-color 5500s ease-in-out 0s;
}
.form__input {
  padding: 12px 12px 12px 42px;
  font-size: 16px;
  color: $title-text-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color $transition-time $time-function;

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.form__input[name="comment"] {
  resize: none;
  padding: 12px 16px;
}
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: $title-text-color;
  display: inline-block;

  transition: fill $transition-time $time-function;
}
.form__field:focus-within .form__icon,
.form__field:hover .form__icon {
  fill: $accent-color;
}
.form__field:focus-within .form__input,
.form__field:hover .form__input {
  border-color: $accent-color;
  outline: none;
}
.agreement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.agreement__field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.agreement__lable {
  margin-left: 7px;

  @media screen and(max-width: 1999px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.agreement__icon {
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 3px;
  background-color: $primary-bg-color;

  transition: border-color $transition-time $time-function,
    background-color $transition-time $time-function;
}
.agreement__checkbox:checked ~ .agreement__icon {
  border-color: $accent-color;
  background-color: $accent-color;
}
.agreement__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
