.hero {
  padding: 200px 0px;
  text-align: center;
  background-color: $hero-bg-color;
  @media screen and(max-width: 1199px) {
    padding: 118px 0px;
  }
}
.hero__name {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: $dark-bg-text-color;
  text-transform: uppercase;

  @media screen and(max-width: 1199px) {
    font-size: 26px;
    line-height: 1.62;
  }
  @media screen and(max-width: 386px) {
    font-size: 24px;
  }
  @media screen and(max-width: 386px) {
    font-size: 22px;
  }
  @media screen and(max-width: 331px) {
    font-size: 20px;
  }
}
.hero--overlay {
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and(max-width: 576px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mobile-1x.jpeg);
    max-width: 480px;
  }
  @media screen and(min-width: 577px) and(max-width: 1199px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tablet-1x.jpeg);
    max-width: 768px;
  }
  @media screen and(min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-desctop-1x.jpeg);
    max-width: 1600px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @media screen and(max-width: 767px) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-mobile-2x.jpeg);
      max-width: 480px;
    }
    @media screen and(min-width: 768px) and(max-width: 1199px) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-tablet-2x.jpeg);
      max-width: 768px;
    }
    @media screen and(min-width: 1200px) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-desctop-2x.jpeg);
      max-width: 1600px;
    }
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
