.logo {
  display: inline-block;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $accent-color;
  text-decoration: none;

  &--footer {
    margin-bottom: 20px;
  }
}
.logo__decor {
  color: $title-text-color;
  &--footer {
    color: $dark-bg-text-color;
  }
}
