// .menu-conteiner позиционируется относительно .header
.menu-conteiner {
  padding: 48px 20px 48px 40px;
  background-color: $primary-bg-color;

  @media screen and (max-width: 767px) {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 1;

    transition: opacity $transition-time $time-function;

    &.is-open {
      // position: fixed;
      // overflow: scroll;
      opacity: 1;
      pointer-events: initial;
      display: flex;
      flex-direction: column;

      transition: opacity $transition-time $time-function;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    padding: 0;
    margin-left: 88px;
  }
  @media screen and(min-width: 1200px) {
    margin-left: 93px;
  }
}
.menu-button {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  z-index: 2;

  transition: color $transition-time $time-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .cross-icon {
  display: none;
}
.menu-button.is-open .cross-icon {
  display: block;
}
.menu-button.is-open .menu-icon {
  display: none;
}
