.menu-social-links {
  @extend %list;
  display: flex;
  @media screen and(min-width: 768px) {
    display: none;
  }
}
.menu-social-links__item {
  position: relative;
  &:not(:first-child) {
    margin-left: 10px;
  }
  &:not(:last-child) {
    margin-right: 10px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 22px;
      // width: 4.58vw;
      height: 0px;
      border: 0.5px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg) translateX(-50%);
    }
  }
}

.menu-social-links__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
  text-decoration: none;

  @media screen and(max-width: 414px) {
    font-size: 3.75vw;
  }
}
