.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--features {
    @media screen and(min-width: 1200px) {
      padding-bottom: 0;
    }
  }
  &--secondary-bg-color {
    background-color: $secondary-bg-color;
  }
  &--activity {
    @media screen and(max-width: 1199px) {
      display: none;
    }
  }
}
.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $title-text-color;
  text-align: center;
  @media screen and(max-width: 1199px) {
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and(min-width: 1200px) {
    font-size: 36px;
    line-height: 1.2;
  }

  &--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
