$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$primary-text-color: #757575;
$title-text-color: #212121;
$dark-bg-text-color: #ffffff;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$hero-bg-color: #2f303a;
$footer-bg-color: #2f303a;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;
